<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<div class="login-form" id="app">
    <form action="/register" method="POST">
        <h2 class="text-center">Register</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" name="username" id="username" v-model="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" name="password" id="password" v-model="password">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" v-on:click="register">Register</button>
        </div>        
    </form>
    <p class="text-center"><a href="/login">Login</a></p>

</div>
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/vue2.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    var vue = new Vue({
        el : "#app",
        data: {
            username: "",
            password: ""
        },

        methods: {
            register: function(){
                var _this = this
                const data = JSON.stringify({'username':_this.username,'password':_this.password});
                axios.post('/register', data, {
                    headers: {'Content-Type': 'application/json'}})
                .then(function (response) {
                    console.log(response.data);
                    window.location.href='/login';
                })
                .catch(function (error) { console.log(error);});
            },
        }
    });
    
</script>


</body>
</html>                                		
